

body {
  background-color: rgb(227, 227, 227);
  position: relative;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.basic-dom {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border: solid;
  padding-bottom: 50px;
  background-color: rgb(253, 253, 253);
  border-radius: 6px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 0 0 20px;
  overflow: hidden;
  border: 1px solid rgb(31, 30, 30);
}

.basic-dom ol {
  list-style-type: none;

}



.btn {
  display: inline-block;
  text-align: center;
  background: #6965A4;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.workingCards {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding: 1rem;
}

.panel-left {
  grid-column: 1;
  width: 50%;
  float: left;
  background-color: rgb(253, 253, 253);
  text-align: center;
  border-radius: 6px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 0 0 20px;
  overflow: hidden;
  border: 1px solid rgb(31, 30, 30);
}

.test {
  grid-column: 1;
  width: 97%;
  float: left;
  background-color: rgb(253, 253, 253);
  text-align: center;
  border-radius: 6px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 0 0 20px;
  overflow: hidden;
  border: 1px solid rgb(31, 30, 30);

}

.panel-right {
  float: right;
  grid-column: 1;
  width: 47%;
  background-color: rgb(253, 253, 253);
  height: 100vh;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 0 0 20px;
  overflow: hidden;
  border: 1px solid rgb(31, 30, 30);

}

.test {

  padding: 5px;
  margin: 10px;
}