.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.imagetest {
  
}

#idPenguin1:hover {
  animation: change-back infinite 0.7s;
}
#idPenguin2:hover {
  animation: change-back infinite 0.7s;
}
#idPenguin3:hover {
  animation: change-back infinite 0.7s;
}
#idPenguin4:hover {
  animation: change-back infinite 0.7s;
}
#idPenguin5:hover {
  animation: change-back infinite 0.7s;
}
#idPenguin6:hover {
  animation: change-back infinite 0.7s;
}

@keyframes change-back {
  0% {
    background-color: #282c34;
  }
  100% {
    background-color: white;
  }
}

